main {
    height: 100vh;
    width: 100%;
    
    .intro {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 10px 50px;
       font-size: 1.2em;
    }

    .podcast {
        @include displayMain;
        // background: linear-gradient(to bottom, rgb(255, 255, 255) 45%,rgba(226, 39, 133, 0.4));
        // background: rgba(226, 39, 133, 0.3);
        height: 100%;
        
        .episode {
            @include displayMain;
            position: relative;
            height: 100%;
            width: 100%;
            background: $primary-color;

           .episodenum {
               position: absolute;
               top: 30px;
               left: 10px;
               height: 40px;
               width: 100px;
               text-align: center;
               border-radius: 40px;
           }
            

        .episodetitle {
                position: relative;
                text-transform: uppercase;
                text-align: center;
                font-size: 1.7em;
                margin-bottom: 50px;

                &:after {
                    content: '';
                    bottom: -10px;
                    left: 20%;
                    position: absolute;
                    height: 5px;
                    width: 250px;
                    background: white;
                }
            }

            .audio {
                width: 60%;
            }

            audio::-webkit-media-controls-panel {
                background: white;
            }

            audio::-webkit-media-controls-play-button {
                background-color: $primary-color;
                border-radius: 40px;
                height: 33px;
                width: 45px;
            }

            .episodedescription {
                text-align: center;
                max-width: 70%;
                font-size: 1.1em;
                margin-top: 50px;
                line-height: 30px;

                span {
                    font-size: 1.2em;
                    text-transform: uppercase;
                    color: white;
                }
            }
        }
    }
    
    .newsletter {
        @include displayMain;
        height: 50%;
        width: 100%;
        text-align: center;
        

        .subscribetitle {
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 1.8em;
            color: $primary-color;
        }

        .subtitle {
            text-transform: uppercase;
            font-size: 0.95em;
        }

        form {
            width: 50%;
            margin-top: 20px;

            .email {
                text-decoration: none;
                height: 40px;
                width: 50%;
                background: $primary-color;
                border: none;
                padding-left: 8px;
            }

            ::placeholder {
                color: white;
            }

            .btn {
                border: solid 2px $primary-color;
                text-align: center;
                background: transparent;
                text-transform: uppercase;
                height: 40px;
                width: 100px;
                color: $primary-color;
            }
        }
    }
}