
@import 'variables';

footer {
    background: $primary-color;
    height: 50vh;
    
    @media #{$laptops} {
        zoom: 0.8;
    }
    
    @media #{$tablets} {
        zoom: 0.7;
    }
    @media #{$stablets} {
        zoom: 0.6;
    }
    @media #{$xstablets} {
        height: 70vh;
        text-align: center;
    }
    @media #{$lphones} {
        zoom: 0.6;
        height: 70vh;
    }
    @media #{$mphones} {
        zoom: 0.6;
        height: 80vh;
    }
    @media #{$allphones} {
        text-align: center;
    }
    
    
    .footercontain {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        
        .sponsors {
            @include displayFooter;
            flex-direction: column;
            padding-top: 10px;

            .sponsortitle {
                color: white;
                margin-left: 12px;
                text-transform: uppercase;
                letter-spacing: 1px;
            }

            .sponsor {
                margin: 8px 0px;
                font-weight: 200;
            }
        }

        .contact {
            padding-top: 10px;

            .add {
                text-decoration: none;

                .address {
                    color: white;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }

                .street {
                    font-weight: 200;
                    margin-top: 8px;
                }

                .po {
                    margin: 3px 0px;
                }
            }
        }
    }

    .emailfooter {
        color: white;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding-top: 10px;

    }
    .emailaddress {
        font-weight: 200;
        margin-top: 8px;
    }

    .socialmedia {
        display: flex;
        flex-direction: column;
        // @media #{$stablets} {
            
        // }
        
        .icons {
            display: flex;
            margin-top: 10px;
        }
    }

    .socialtitle {
        color: white;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding-top: 10px;
    }

    .icon {
        font-size: 30px;
        margin: 0px 5px;
        background: white;
        padding: 10px;
        color: $primary-color;
        border: solid 1px black;
        transition: ease-in 0.4s;

        &:hover {
            color: white;
            background: transparent;
            border: solid 1px white;
            border-radius: 50%;
        }
    }

    .copyright {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 15vh;
        width: 100%;
        text-align: center;
        @media #{$laptops} {
            zoom: 0.9;
        }
        
        @media #{$tablets} {
            zoom: 0.8;
        }
        
        @media #{$stablets} {
            zoom: 0.8;
        }
    }
   
}