@import 'variables';

.nav {
    
    @include displayNav;
    position: fixed;
    padding: 10px;
    width: 100%;
    z-index: 3;
    @media #{$tablets} {
        display: none;
    }

    @media #{$stablets} {
        display: none;
    }
    @media #{$allphones} {
        display: none;
    }



    .logo {
        position: absolute;
        right: 50px;
        font-size: 1.4em;
        padding: 10px;
        
    }

    .links {
        @include displayNav;
        list-style-type: none;
        
        .link {
            padding: 10px 10px;
            font-size: 1.2em;
            text-transform: uppercase;
            margin: 0px 10px;
            transition: ease-in 0.3s;

            a {
                color: $primary-color;
                text-decoration: none;

                &:hover {
                  color: white;
                }
            }
        }
    }
}