main {
    width: 100%;
    
    .intro {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 10px 50px;
       font-size: 1.2em;
    }

    .podcast {
        @include displayMain;
        position: relative;
        height: 100vh;
        
        .episode {
            @include displayMain;
            position: relative;
            height: 100%;
            width: 100%;
            color: $secondary-color;

            .latest {
                margin-bottom: 10px;
                color: white;
                font-size: 1.2em;
                
                @media #{$allphones} {
                    font-size: 0.9em;
                }
            }

           .episodenum {
               position: absolute;
               top: 30px;
               right: 50px;
               height: 40px;
               width: 100px;
               text-align: center;
               background: $primary-color;
               color: white;
               padding-top: 20px;

               @media #{$allphones} {
                zoom: 0.8;
            }
           }
            

        .episodetitle {
                position: relative;
                text-transform: uppercase;
                text-align: center;
                font-size: 1.6em;
                margin-bottom: 50px;
                padding: 0px 30px;
                color: $primary-color;

                @media #{$tablets} {
                    font-size: 1.2em;
                }

                @media #{$stablets} {
                    font-size: 1em;
                }

                @media #{$lphones} {
                    font-size: 0.8em;
                }
                @media #{$mphones} {
                    font-size: 0.7em;
                }
                @media #{$sphones} {
                    font-size: 0.6em;
                }



                &:after {
                    content: '';
                    bottom: -10px;
                    left: 20%;
                    position: absolute;
                    height: 5px;
                    width: 250px;
                    background: white;

                    @media #{$mphones} {
                        width: 100px;
                    }
                    @media #{$sphones} {
                        
                        width: 100px;
                    }
                }
            }

            .audio {
                width: 60%;

                @media #{$tablets} {
                    width: 80%;;
                }

                @media #{$stablets} {
                    width: 70%;
                }
                @media #{$lphones} {
                    width: 80%;
                }

                @media #{$mphones} {
                    width: 75%;
                }
                @media #{$sphones} {
                    width: 70%;
                }
            }

            audio::-webkit-media-controls-panel {
                background: white;
            }

            audio::-webkit-media-controls-play-button {
                background-color: $primary-color;
                border-radius: 40px;
                height: 33px;
                width: 45px;
            }

            .episodedescription {
                text-align: center;
                max-width: 70%;
                font-size: 1.1em;
                margin-top: 50px;
                line-height: 30px;

                @media #{$tablets} {
                    font-size: 0.9em;
                }

                @media #{$stablets} {
                    font-size: 0.8em;
                    line-height: 25px;
                    max-width: 80%;
                }

                @media #{$lphones} {
                    font-size: 0.7em;
                    line-height: 25px;
                    max-width: 80%;
                }
                
                @media #{$mphones} {
                    font-size: 0.6em;
                    line-height: 20px;
                    max-width: 80%;
                }
                @media #{$sphones} {
                    font-size: 0.6em;
                    line-height: 20px;
                    max-width: 80%;
                }

                span {
                    font-size: 1.2em;
                    text-transform: uppercase;
                    color: $primary-color;
                }
            }
        }

        .fas {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 50px;
            font-size: 30px;
            padding: 10px 15px;
            color: $primary-color;
            transition: 0.4s ease;
            
            @media #{$sphones} {
                font-size: 18px;
            }
            
            &:hover {
                cursor: pointer;
                background: white;
                color: $secondary-color;
                transform: scale(1.1);
            }
        }
        .fa-chevron-left {
            left: 100px;

            &.disappear {
                display: none;
            }
        }
        .fa-chevron-right {
            right: 100px;

            &.disappear {
                display: none;
            }
        }

        .toggle {
            height: 45px;
            width: 45px;
            position: absolute;
            top: 5%;
            opacity: 0;
            z-index: 2;

            &:hover {
                cursor: pointer;
            }
        }

        .right {
            right: 5%;
        }
    }
    
    .newsletter {
        @include displayMain;
        height: 50vh;
        width: 100%;
        text-align: center;
        
        

        .subscribetitle {
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 1.8em;
            color: $primary-color;
            padding: 0px 20px;
            margin-bottom: 5px;

            @media #{$stablets} {
                font-size: 1.2em;
            }
            @media #{$allphones} {
                font-size: 0.95em;
            }
        }

        .subtitle {
            text-transform: uppercase;
            font-size: 0.95em;
            // padding: 0px 20px;

            @media #{$stablets} {
                font-size: 0.7em;
            }
            @media #{$allphones} {
                font-size: 0.6em;
                width: 50%;
            }
        }

        form {
            width: 100%;
            margin-top: 20px;

            .email {
                text-decoration: none;
                height: 40px;
                width: 30%;
                background: $primary-color;
                border: none;
                padding-left: 8px;
                
                @media #{$tablets} {
                    width: 45%;
                }
                @media #{$stablets} {
                    width: 50%;
                }
                @media #{$allphones} {
                    width: 70%;
                }
            }

            ::placeholder {
                color: white;
            }

            .btn {
                border: solid 2px $primary-color;
                text-align: center;
                background: transparent;
                text-transform: uppercase;
                height: 40px;
                width: 10%;
                color: $primary-color;
                transition: ease-in 0.4s ;
                border-radius: 40px;

                    &:hover {
                        color: white;
                        background: $secondary-color;
                        border: none;
                        cursor: pointer;
                    }
                
                @media #{$tablets} {
                    width: 15%;
                }
                @media #{$stablets} {
                    
                    width: 20%;
                }
                @media #{$allphones} {
                    margin-top: 12px;
                    width: 72%;
                }
            }
        }
    }
}