
@import 'variables';

footer {
    position: relative;
    background: $primary-color;
    height: 50vh;
    
    @media #{$laptops} {
        zoom: 0.8;
    }
    
    @media #{$tablets} {
        zoom: 0.7;
    }
    @media #{$stablets} {
        zoom: 0.6;
    }
    @media #{$xstablets} {
        height: 70vh;
        text-align: center;
    }
    @media #{$lphones} {
        zoom: 0.6;
        height: 70vh;
    }
    @media #{$mphones} {
        zoom: 0.6;
        height: 80vh;
    }
    @media #{$sphones} {
        height: 100vh;
    }
    
    @media #{$allphones} {
        text-align: center;
    }
    
    
    .footercontain {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding-top: 15px;
        
        .sponsors {
            @include displayFooter;
            flex-direction: column;
            padding-top: 10px;

            .sponsortitle {
                color: white;
                margin-left: 12px;
                text-transform: uppercase;
                letter-spacing: 1px;
            }

            .sponsor {
                margin: 8px 0px;
                font-weight: 100;
            }
        }

        .contact {
            padding-top: 10px;
            
            .add {
                text-decoration: none;

                .address {
                    color: white;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }

                .street {
                    font-weight: 100;
                    margin-top: 8px;
                }

                .po {
                    margin: 3px 0px;
                }
            }
        }
    }

    .emailfooter {
        color: white;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding-top: 10px;

    }
    .emailaddress {
        font-weight: 100;
        margin-top: 8px;
    }

    .socialmedia {
        display: flex;
        flex-direction: column;
        
        .icons {
            display: flex;
            margin-top: 10px;
        }
    }

    .socialtitle {
        color: white;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding-top: 10px;
    }

    .icon {
        font-size: 30px;
        margin: 0px 5px;
        padding: 10px;
        color: $secondary-color;
        transition: ease-in 0.4s;

        @media #{$sphones} {
            margin: 0px 2px;
            font-size: 25px;
        }

        &:hover {
            border: solid 2px white;
            
        }
    }

    .copyright {
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 12vh;
        width: 100%;

        .copyname {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            background: $secondary-color;
            color: white;
            font-size: 1.1em;
            letter-spacing: 0.5px;
            width: 100%;
            height: 100%;

            @media #{$sphones} {
                font-size: 0.9em;
            }
        
    }
        
        @media #{$laptops} {
            zoom: 0.9;
        }
        
        @media #{$tablets} {
            zoom: 0.8;
        }
        
        @media #{$stablets} {
            zoom: 0.8;
        }
    }
   
}