@import 'variables';

.nav {
    
    @include displayNav;
    position: fixed;
    padding: 10px;
    width: 100%;
    z-index: 3;
    @media #{$tablets} {
        display: none;
    }

    @media #{$stablets} {
        display: none;
    }
    @media #{$allphones} {
        display: none;
    }

    .logo {
        position: absolute;
        right: 50px;
        font-size: 1.4em;
        padding: 10px;
        
    }

    .links {
        @include displayNav;
        list-style-type: none;
        
        .link {
            padding: 10px 10px;
            font-size: 1.2em;
            text-transform: uppercase;
            margin: 0px 10px;
            transition: ease-in 0.3s;

            a {
                color: $primary-color;
                text-decoration: none;

                &:hover {
                  color: white;
                }
            }
        }
    }
}

.shownav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    transform: translateY(-100%);
    width: 100%;
    z-index: 4;
    opacity: 0;
    transition: ease-in 0.5s;
    background: rgb(230, 10, 120);

    &.appear {
        transform-origin: bottom;
        transform: translateY(0);
        // height: 100%;
        opacity: 1;
    }

    .showlinks {
        list-style-type: none;

        .showlink {
            margin: 12px 0px;
            font-size: 1.4em;
            text-transform: uppercase;
        }

        span {
            display: inline-block;
            animation: 1s ease-in infinite;
            animation-name: wave;  
        }

        .up:hover {
            display: inline-block;
            animation: 0.3s ease-in infinite;
            animation-name: wiggle;
        }

        .down:hover {
            display: inline-block;
            animation: 0.3s  ease-in infinite;
            animation-name: wiggle;
        }

        a {
            text-decoration: none;
            color: black;
            
        }
    }
}

.menu {
    position: fixed;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    z-index: 4;
    display: none;

    @media #{$tablets} {
        display: inline;
    }
    @media #{$stablets} {
        display: inline;
    }
    @media #{$allphones} {
        display: inline;
    }

        .toggle {
            position: fixed;
            height: 50px;
            width: 50px;
            z-index: 6;
            cursor: pointer;
            opacity: 0;
        }

        .menuline {
            position: absolute;
            background: $primary-color;

            &.changeColor {
                background: white;
                box-shadow: black 2px 2px 2px;
            }

        }

        .hamburgertop {
            top: 12px;
            left: 12px;
            height: 2.5px;
            width: 38px;
        }

        .hamburger {
            top: 20px;
            left: 12px;
            height: 2.5px;
            width: 30px;
        }
}

@keyframes wiggle {
    0% {transform: translateY(0); color: white;}
    25% {transform: translateY(10px); color: white;}
    50% {transform: translateY(0);}
    75% {transform: translateY(10px);}
    100% {transform: translateY(0); color: white;}
}

@keyframes wave {
    0% {transform: translateX(0px); color: white;}
    25% {transform: translateY(10px); color: white;}
    50% {transform: translateX(0px);}
    75% {transform: translateY(10px);}
    100% {transform: translateX(0); color: white;}
}


