@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Fira+Sans:wght@500&family=Fugaz+One&family=Krona+One&family=Lobster&display=swap');

@import 'nav';
@import 'content';
// @import 'footer';
@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: Fira Sans;
}

header {
    height: 100vh;
    width: 100%;
    position: relative;

    .bounce {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;

        span {
            animation-delay: 0.2s;
            animation:  0.4s ease-in alternate infinite;
            animation-name: bounce;

            &.bounce {
            // animation-delay: 0.2s;
            animation:  0.4s ease-in alternate infinite;
            animation-name: bounce;
            }
        }
    }
}

// @keyframes bounce {
//     0%{ transform: translate(0%, 50%); color: red;}
//     20%{ transform: translate(5%, 50%);}
//     40%{ transform: translate(10%, 70%);}
//     60%{ transform: translate(80%, 40%);}
//     80%{ transform: translate(20%, 25%);}
//     100%{ transform: translate(10%, 90%); color: blue;}
// }