main {
    width: 100%;

    .cohosttitle{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.2em;
        margin-bottom: 25px;
        color: white;
        @media #{$lphones} {
            font-size: 1em;
        }
        @media #{$mphones} {
            font-size: 0.9em;
        }
        @media #{$sphones} {
            font-size: 0.8em;
        }
    }

    .podcastintro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 50vh;
        background: $primary-color;

        .cohost {
            width: 70%;
            padding: 0px 20px;
            @media #{$stablets} {
                font-size: 0.9em;
            }
            @media #{$lphones} {
                font-size: 0.9em;
            }
            @media #{$mphones} {
                font-size: 0.8em;
            }
            @media #{$sphones} {
                font-size: 0.75em;
            }
        }
    }

    .krista, .therese {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100vh;
        width: 100%;
        z-index: 1;
    }

    .krista {
        background: rgb(31, 31, 31);
        color: white;
        position: relative;
    }

    .therese {
        background: $primary-color;
        color: white;
        overflow: hidden;
        position: relative;
        
    }

    .pic {
        width: 300px;
        height: 275px;
        border-radius: 50%;
        border: 5px solid $primary-color;
        background: white;
        z-index: 3;

        @media #{$lglaptops} {
            margin-top: 20px;
            height: 325px;
            width: 375px;
        }

        @media #{$laptops} {
            margin-top: 20px;
            height: 300px;
            width: 350px;
        }

        @media #{$tablets} {
            margin-top: 20px;
            height: 250px;
            width: 275px;
        }
        @media #{$stablets} {
            margin-top: 20px;
            height: 200px;
            width: 225px;
        }

        @media #{$lphones} {
            margin-top: 20px;
            height: 250px;
            width: 250px;
        }
        @media #{$mphones} {
            margin-top: 20px;
            height: 220px;
            width: 220px;
        }
        @media #{$sphones} {
            height: 170px;
            width: 180px;
        }
    }

    .pictherese {
        border: 5px solid rgb(31, 31, 31);
    }

    .imagery {
        padding-top: 30px;
        height: 75%;
    }

    .namekrista {
        background: url('../imgAbout/nameK.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-attachment: fixed;
        width: 100%; 
        
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: -10%;
            background: url('../imgAbout/picK.svg');
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            width: 50%;
            opacity: 0.25;
            z-index: -1;
        }
    }
    .nametherese {
        background: url('../imgAbout/nameTh.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-attachment: fixed;
        width: 100%; 

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: -10%;
            background: url('../imgAbout/picTh.svg');
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            width: 50%;
            opacity: 0.25;
            z-index: -1;
        }
    }

    .hostname {
        margin-top: 20px;
        padding: 10px;
        background: $primary-color;
        width: 20%;
        text-transform: uppercase;
        text-align: center;
        font-size: 1.3em;
        margin-bottom: 10px;
    }

    .hostnametherese {

        background: $secondary-color;
        @media #{$allphones} {
            padding-right: 25px;
        }
    }

    .bio {
        text-align: center;
        line-height: 30px;
        width: 80%;
        height: 50%;

        @media #{$laptops} {
            line-height: 20px;
            width: 75%;
            height: 100%;
            font-size: 0.8em;
        }

        @media #{$tablets} {
            line-height: 20px;
            width: 75%;
            height: 100%;
            font-size: 0.85em;
        }
        
        @media #{$stablets} {
            line-height: 18px;
            width: 75%;
            height: 100%;
            font-size: 0.8em;
        }
        
        @media #{$lphones} {
            line-height: 15px;
            width: 75%;
            height: 100%;
            font-size: 0.7em;
        }
        @media #{$mphones} {
            line-height: 15px;
            width: 75%;
            height: 100%;
            font-size: 0.65em;
        }
        @media #{$sphones} {
            line-height: 15px;
            width: 75%;
            height: 100%;
            font-size: 0.63em;
            padding-bottom: 10px;
        }
        
    }

    .theresebio {
        color: rgb(31, 31, 31);
    }

    .showabout {
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        width: 100%;
        

        .show {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            text-align: center;
            text-transform: uppercase;
            height: 250px;
            width: 250px;
            color: $primary-color;
        }

        .showtitle {
            font-size: 1.5em;
            color: $primary-color;
        }

        .fas {
            font-size: 2em;
            color: $secondary-color;
            margin-top: 20px;
            padding: 10px;
        }

        .godspiration {
            text-overflow: initial;
        }
        .articles {
            text-overflow: initial;
            
        }

        .hottopics {
            text-overflow: initial;
        }
        
    }
}