main {
    // height: 100vh;
    width: 100%;

    .cohosttitle{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.2em;
        margin-bottom: 25px;
    }

    .podcastintro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 50vh;
        background: $primary-color;

        .cohost {
            width: 70%;
            padding: 0px 20px;
        }
    }

    .krista, .therese {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100vh;
        width: 100%;
    }

    .krista {
        background: black;
        color: white;
    }

    .therese {
        background: $primary-color;
        color: white;
    }

    .pic {
        width: 300px;
        height: 275px;
        border-radius: 50%;
        border: 5px solid $primary-color;
    }

    .pictherese {
        border: 5px solid black;
    }

    .imagery {
        padding: 30px 0px;
        height: 75%;
    }

    .namekrista {
        background: url('../nameK.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-attachment: fixed;
        width: 100%; 
        
    }
    .nametherese {
        background: url('../nameTH.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-attachment: fixed;
        width: 100%; 
    }

    .hostname {
        margin-top: 20px;
        padding: 10px;
        background: pink;
        width: 20%;
        text-transform: uppercase;
        text-align: center;
        font-size: 1.3em;
    }

    .bio {
        text-align: center;
        line-height: 25px;
        width: 75%;
        height: 50%;
    }

    .theresebio {
        color: black;
    }
}