@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Fira+Sans:wght@500&family=Fugaz+One&family=Krona+One&family=Lobster&display=swap');
@import 'variables';
@import 'nav';
@import 'content';


* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: Fira Sans;
}


header {
    height: 100vh;
    width: 100%;
    

    .video {
        width: 100%;
        height: 100%;
        background: url('../intro.gif');
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
        

        .overlay {
            height: 100vh;
            width: 100%;
            background: rgb(31, 31, 31);
            opacity: 0.3;
            position: absolute;
            top: 0;
        }
    }
}