@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Fira+Sans:wght@500&family=Fugaz+One&family=Krona+One&family=Lobster&display=swap");
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  padding: 10px;
  width: 100%;
  z-index: 3;
}

@media (min-width: 641px) and (max-width: 829px) {
  .nav {
    display: none;
  }
}

@media (min-width: 416px) and (max-width: 640px) {
  .nav {
    display: none;
  }
}

@media (min-width: 200px) and (max-width: 415px) {
  .nav {
    display: none;
  }
}

.nav .logo {
  position: absolute;
  right: 50px;
  font-size: 1.4em;
  padding: 10px;
}

.nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.nav .links .link {
  padding: 10px 10px;
  font-size: 1.2em;
  text-transform: uppercase;
  margin: 0px 10px;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

.nav .links .link a {
  color: #e62184;
  text-decoration: none;
}

.nav .links .link a:hover {
  color: white;
}

.shownav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 0;
  width: 100%;
  z-index: 4;
  opacity: 0;
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
  background: #e60a78;
}

.shownav.appear {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  height: 100%;
  opacity: 1;
}

.shownav .showlinks {
  list-style-type: none;
}

.shownav .showlinks .showlink {
  margin: 12px 0px;
  font-size: 1.4em;
  text-transform: uppercase;
}

.shownav .showlinks span {
  display: inline-block;
  -webkit-animation: 1s ease-in infinite;
          animation: 1s ease-in infinite;
  -webkit-animation-name: wave;
          animation-name: wave;
}

.shownav .showlinks .up:hover {
  display: inline-block;
  -webkit-animation: 0.3s ease-in infinite;
          animation: 0.3s ease-in infinite;
  -webkit-animation-name: wiggle;
          animation-name: wiggle;
}

.shownav .showlinks .down:hover {
  display: inline-block;
  -webkit-animation: 0.3s  ease-in infinite;
          animation: 0.3s  ease-in infinite;
  -webkit-animation-name: wiggle;
          animation-name: wiggle;
}

.shownav .showlinks a {
  text-decoration: none;
  color: black;
}

.menu {
  position: fixed;
  top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 50px;
  z-index: 4;
  display: none;
}

@media (min-width: 641px) and (max-width: 829px) {
  .menu {
    display: inline;
  }
}

@media (min-width: 416px) and (max-width: 640px) {
  .menu {
    display: inline;
  }
}

@media (min-width: 200px) and (max-width: 415px) {
  .menu {
    display: inline;
  }
}

.menu .toggle {
  position: fixed;
  height: 50px;
  width: 50px;
  z-index: 6;
  cursor: pointer;
  opacity: 0;
}

.menu .menuline {
  position: absolute;
  background: #e62184;
}

.menu .menuline.changeColor {
  background: white;
  -webkit-box-shadow: black 2px 2px 2px;
          box-shadow: black 2px 2px 2px;
}

.menu .hamburgertop {
  top: 12px;
  left: 12px;
  height: 2.5px;
  width: 38px;
}

.menu .hamburger {
  top: 20px;
  left: 12px;
  height: 2.5px;
  width: 30px;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    color: white;
  }
  25% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    color: white;
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    color: white;
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    color: white;
  }
  25% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    color: white;
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    color: white;
  }
}

@-webkit-keyframes wave {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    color: white;
  }
  25% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    color: white;
  }
  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  75% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    color: white;
  }
}

@keyframes wave {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    color: white;
  }
  25% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    color: white;
  }
  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  75% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    color: white;
  }
}

main {
  width: 100%;
}

main .cohosttitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 25px;
  color: white;
}

@media (min-width: 376px) and (max-width: 415px) {
  main .cohosttitle {
    font-size: 1em;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  main .cohosttitle {
    font-size: 0.9em;
  }
}

@media (max-width: 320px) {
  main .cohosttitle {
    font-size: 0.8em;
  }
}

main .podcastintro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 50vh;
  background: #e62184;
}

main .podcastintro .cohost {
  width: 70%;
  padding: 0px 20px;
}

@media (min-width: 416px) and (max-width: 640px) {
  main .podcastintro .cohost {
    font-size: 0.9em;
  }
}

@media (min-width: 376px) and (max-width: 415px) {
  main .podcastintro .cohost {
    font-size: 0.9em;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  main .podcastintro .cohost {
    font-size: 0.8em;
  }
}

@media (max-width: 320px) {
  main .podcastintro .cohost {
    font-size: 0.75em;
  }
}

main .krista, main .therese {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100vh;
  width: 100%;
  z-index: 1;
}

main .krista {
  background: #1f1f1f;
  color: white;
  position: relative;
}

main .therese {
  background: #e62184;
  color: white;
  overflow: hidden;
  position: relative;
}

main .pic {
  width: 300px;
  height: 275px;
  border-radius: 50%;
  border: 5px solid #e62184;
  background: white;
  z-index: 3;
}

@media (min-width: 1201px) {
  main .pic {
    margin-top: 20px;
    height: 325px;
    width: 375px;
  }
}

@media (min-width: 830px) and (max-width: 1200px) {
  main .pic {
    margin-top: 20px;
    height: 300px;
    width: 350px;
  }
}

@media (min-width: 641px) and (max-width: 829px) {
  main .pic {
    margin-top: 20px;
    height: 250px;
    width: 275px;
  }
}

@media (min-width: 416px) and (max-width: 640px) {
  main .pic {
    margin-top: 20px;
    height: 200px;
    width: 225px;
  }
}

@media (min-width: 376px) and (max-width: 415px) {
  main .pic {
    margin-top: 20px;
    height: 250px;
    width: 250px;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  main .pic {
    margin-top: 20px;
    height: 220px;
    width: 220px;
  }
}

@media (max-width: 320px) {
  main .pic {
    height: 170px;
    width: 180px;
  }
}

main .pictherese {
  border: 5px solid #1f1f1f;
}

main .imagery {
  padding-top: 30px;
  height: 75%;
}

main .namekrista {
  background: url("../imgAbout/nameK.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  width: 100%;
}

main .namekrista:before {
  content: '';
  position: absolute;
  top: 0;
  left: -10%;
  background: url("../imgAbout/picK.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 50%;
  opacity: 0.25;
  z-index: -1;
}

main .nametherese {
  background: url("../imgAbout/nameTh.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  width: 100%;
}

main .nametherese:before {
  content: '';
  position: absolute;
  top: 0;
  right: -10%;
  background: url("../imgAbout/picTh.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 50%;
  opacity: 0.25;
  z-index: -1;
}

main .hostname {
  margin-top: 20px;
  padding: 10px;
  background: #e62184;
  width: 20%;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3em;
  margin-bottom: 10px;
}

main .hostnametherese {
  background: #1f1f1f;
}

@media (min-width: 200px) and (max-width: 415px) {
  main .hostnametherese {
    padding-right: 25px;
  }
}

main .bio {
  text-align: center;
  line-height: 30px;
  width: 80%;
  height: 50%;
}

@media (min-width: 830px) and (max-width: 1200px) {
  main .bio {
    line-height: 20px;
    width: 75%;
    height: 100%;
    font-size: 0.8em;
  }
}

@media (min-width: 641px) and (max-width: 829px) {
  main .bio {
    line-height: 20px;
    width: 75%;
    height: 100%;
    font-size: 0.85em;
  }
}

@media (min-width: 416px) and (max-width: 640px) {
  main .bio {
    line-height: 18px;
    width: 75%;
    height: 100%;
    font-size: 0.8em;
  }
}

@media (min-width: 376px) and (max-width: 415px) {
  main .bio {
    line-height: 15px;
    width: 75%;
    height: 100%;
    font-size: 0.7em;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  main .bio {
    line-height: 15px;
    width: 75%;
    height: 100%;
    font-size: 0.65em;
  }
}

@media (max-width: 320px) {
  main .bio {
    line-height: 15px;
    width: 75%;
    height: 100%;
    font-size: 0.63em;
    padding-bottom: 10px;
  }
}

main .theresebio {
  color: #1f1f1f;
}

main .showabout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

main .showabout .show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  height: 250px;
  width: 250px;
  color: #e62184;
}

main .showabout .showtitle {
  font-size: 1.5em;
  color: #e62184;
}

main .showabout .fas {
  font-size: 2em;
  color: #1f1f1f;
  margin-top: 20px;
  padding: 10px;
}

main .showabout .godspiration {
  text-overflow: initial;
}

main .showabout .articles {
  text-overflow: initial;
}

main .showabout .hottopics {
  text-overflow: initial;
}

footer {
  position: relative;
  background: #e62184;
  height: 50vh;
}

@media (min-width: 830px) and (max-width: 1200px) {
  footer {
    zoom: 0.8;
  }
}

@media (min-width: 641px) and (max-width: 829px) {
  footer {
    zoom: 0.7;
  }
}

@media (min-width: 416px) and (max-width: 640px) {
  footer {
    zoom: 0.6;
  }
}

@media (min-width: 416px) and (max-width: 450px) {
  footer {
    height: 70vh;
    text-align: center;
  }
}

@media (min-width: 376px) and (max-width: 415px) {
  footer {
    zoom: 0.6;
    height: 70vh;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  footer {
    zoom: 0.6;
    height: 80vh;
  }
}

@media (max-width: 320px) {
  footer {
    height: 100vh;
  }
}

@media (min-width: 200px) and (max-width: 415px) {
  footer {
    text-align: center;
  }
}

footer .footercontain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 15px;
}

footer .footercontain .sponsors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10px;
}

footer .footercontain .sponsors .sponsortitle {
  color: white;
  margin-left: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

footer .footercontain .sponsors .sponsor {
  margin: 8px 0px;
  font-weight: 100;
}

footer .footercontain .contact {
  padding-top: 10px;
}

footer .footercontain .contact .add {
  text-decoration: none;
}

footer .footercontain .contact .add .address {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

footer .footercontain .contact .add .street {
  font-weight: 100;
  margin-top: 8px;
}

footer .footercontain .contact .add .po {
  margin: 3px 0px;
}

footer .emailfooter {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 10px;
}

footer .emailaddress {
  font-weight: 100;
  margin-top: 8px;
}

footer .socialmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .socialmedia .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

footer .socialtitle {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 10px;
}

footer .icon {
  font-size: 30px;
  margin: 0px 5px;
  padding: 10px;
  color: #1f1f1f;
  -webkit-transition: ease-in 0.4s;
  transition: ease-in 0.4s;
}

@media (max-width: 320px) {
  footer .icon {
    margin: 0px 2px;
    font-size: 25px;
  }
}

footer .icon:hover {
  border: solid 2px white;
}

footer .copyright {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 12vh;
  width: 100%;
}

footer .copyright .copyname {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background: #1f1f1f;
  color: white;
  font-size: 1.1em;
  letter-spacing: 0.5px;
  width: 100%;
  height: 100%;
}

@media (max-width: 320px) {
  footer .copyright .copyname {
    font-size: 0.9em;
  }
}

@media (min-width: 830px) and (max-width: 1200px) {
  footer .copyright {
    zoom: 0.9;
  }
}

@media (min-width: 641px) and (max-width: 829px) {
  footer .copyright {
    zoom: 0.8;
  }
}

@media (min-width: 416px) and (max-width: 640px) {
  footer .copyright {
    zoom: 0.8;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
  font-family: Fira Sans;
}

header {
  height: 100vh;
  width: 100%;
}

header .video {
  width: 100%;
  height: 100%;
  background: url("../imgAbout/intro.gif");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

header .video .overlay1 {
  height: 100vh;
  width: 100%;
  background: #1f1f1f;
  opacity: 0.3;
  position: absolute;
  top: 0;
}
/*# sourceMappingURL=main.css.map */