@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Fira+Sans:wght@500&family=Fugaz+One&family=Krona+One&family=Lobster&display=swap');

@import 'nav';
// @import 'content';
// @import 'footer';
@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: Fira Sans;
}

header {
    height: 100vh;
    width: 100%;

    .submit {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(130deg, $secondary-color, 50%, white 50%);

        .submitcontain {
            padding: 100px 0px;
            height: 40%;
            width: 50%;
            border: white 10px solid;
            // border-radius: 40px;
            background: $primary-color;
            position: relative;

            .submittitle {
                font-size: 2.5em;
                text-transform: uppercase;
                color: white;
                padding: 20px;
                background: $primary-color;
            }

            .infosubmit {
                margin: 0 auto;
                width: 75%;
                font-size: 1.2em;
                line-height: 25px;
                // text-shadow: 20px 0.1px 5px $secondary-color;
            }

            .icons {
                position: absolute;
                left: 15px;
                bottom: 15px;
                
                .icon {
                    background: white;
                    padding: 8px 8px;
                    color: $secondary-color;
                    font-size: 1.5em;
                }
            }
        }

        .forminfo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 40%;

            .form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 80%;
                width: 80%;
                // background: $secondary-color;

                .finput {
                    height: 35px;
                    width: 70%;
                    background: transparent;
                    border: none;
                    border-bottom: $primary-color 2px solid;
                }

                ::placeholder {
                    color: $secondary-color;
                    font-size: 1.1em;
                }

                .email {
                    margin: 20px 0px;
                }

                .message {
                    margin: 10px 0px;
                    background: transparent;
                    border: 2px solid $primary-color;
                    width: 70%;
                    resize: vertical;
                }

                .btn {
                    color: $primary-color;
                    background: $secondary-color;
                    text-transform: uppercase;
                    border: none;
                    width: 70%;
                    height: 40px;
                    font-size: 1.3em;
                }
            }
        }
    }
}


