@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Fira+Sans:wght@500&family=Fugaz+One&family=Krona+One&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap');

@import 'nav';
// @import 'content';
// @import 'footer';
@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: Fira Sans;
}

header {
    height: 110vh;
    width: 100%;
    transition: ease 0.4s;
    background-image: linear-gradient(36deg, #e62184, 50%, white 0%);

    .submit {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
        width: 100%;

        .submitcontain {
            z-index: 1;

            .submittitle {
                font-size: 2.3em;
                text-transform: uppercase;
                color: $primary-color;
                padding: 65px 20px 0px;

                @media #{$stablets} {
                    font-size: 2em;
                }

                @media #{$xstablets} {
                    font-size: 1.8em;
                }
                @media #{$lphones} {
                    font-size: 1.8em;
                }
                @media #{$mphones} {
                    font-size: 1.6em;
                }
                @media #{$sphones} {
                    font-size: 1.4em;
                }
            }

            .submitinfo {
                margin: 0 auto;
                width: 50%;
                padding-top: 15px;
                font-size: 0.95em;
                line-height: 25px;
                color: $secondary-color;

                @media #{$laptops} {
                    width: 70%;
                }
                @media #{$tablets} {
                    width: 70%;
                    font-size: 0.9em;
                }

                @media #{$stablets} {
                    width: 80%;
                    font-size: 0.85em;
                }
                @media #{$xstablets} {
                    width: 80%;
                    font-size: 0.8em;
                }
                @media #{$lphones} {
                    width: 80%;
                    font-size: 0.7em;
                }
                @media #{$mphones} {
                    width: 80%;
                    font-size: 0.65em;
                }
                @media #{$sphones} {
                    width: 80%;
                    font-size: 0.65em;
                }

            }
        }

        .forminfo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;

            .form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 30px;
                padding-bottom: 10px;
                width: 45%;

                @media #{$tablets} {
                    width: 70%;
                }
                @media #{$stablets} {
                    width: 70%;
                }
                @media #{$lphones} {
                    width: 80%;
                }
                @media #{$mphones} {
                    width: 80%;
                }
                @media #{$sphones} {
                    width: 80%;
                }
                

                .finput {
                    height: 40px;
                    width: 90%;
                    padding-left: 10px;
                    border: $secondary-color 0.5px solid;
                }

                ::placeholder {
                    color: $primary-color;
                    font-size: 1.2em;
                }

                .email {
                    margin: 12px 0px;
                }

                .message {
                    border: 2px solid $secondary-color;
                    width: 90%;
                    height: 220px;
                    resize: vertical;
                    padding-left: 10px;
                    padding-top: 5px;
                    border: $secondary-color 1px solid;
                    outline-color: none;

                    @media #{$sphones} {
                        height: 125px;;
                    }
                }

                .btn {
                    display: inline-block;
                    margin-top: 12px;
                    color: white;
                    background: $primary-color;
                    text-transform: uppercase;
                    border:white 1.5px solid;
                    width: 80%;
                    height: 50px;
                    font-size: 1.3em;
                    transition: ease 0.4s;

                    &:hover {
                        background: white;
                        color: $primary-color;
                        border: 5px solid $primary-color;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}


