@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Fira+Sans:wght@500&family=Fugaz+One&family=Krona+One&family=Lobster&display=swap');

@import 'nav';
// @import 'content';
// @import 'footer';
@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: Fira Sans;
}

header {
    height: 100vh;
    width: 100%;
    transition: ease 0.4s;
    background-image: linear-gradient(90deg, white, 85%, $secondary-color 15%);

    .submit {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        height: 90vh;
        width: 100%;
        // background: $secondary-color;
        

        .submitcontain {
            // margin: 100px 0px;
            height: 90vh;
            // width: 50%;
            z-index: 1;
            // border: white 5px solid;
            // border-radius: 40px;
            // background: $primary-color;
            position: relative;

            .submittitle {
                font-size: 2.5em;
                text-transform: uppercase;
                color: $primary-color;
                padding: 20px;
                // background: $secondary-color;
            }

            .infosubmit {
                margin: 0 auto;
                width: 60%;
                padding-top: 5px;
                font-size: 1.2em;
                line-height: 25px;
                color: $secondary-color;
                // text-shadow: 20px 0.1px 5px $secondary-color;
            }

            .icons {
                display: flex;
                flex-direction: column;
                position: absolute;
                justify-content: center;
                align-items: center;
                top: 5%;
                right: 50px;
                // bottom: 15px;
                
                .icon {
                    padding: 20px;
                    color: white;
                    font-size: 1.5em;
                    margin: 8px 0px;
                    width: 30px;
                    height: 30px;
                    background: $primary-color;
                    transition: ease-in 0.3s;

                    &:hover {
                        transform: translateX(-20px);
                        
                    }
                }
            }
        }

        .forminfo {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            .form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 60%;
                width: 45%;
                margin-top: 20px;

                .finput {
                    height: 40px;
                    width: 90%;
                    padding-left: 10px;
                    background: $primary-color;
                    border: $secondary-color 1px solid;
                    // border-bottom: $primary-color 2px solid;
                }

                ::placeholder {
                    color: $secondary-color;
                    font-size: 1.2em;
                }

                .email {
                    margin: 12px 0px;
                }

                .message {
                    background: $primary-color;
                    border: 2px solid $secondary-color;
                    width: 90%;
                    resize: vertical;
                    padding-left: 10px;
                    padding-top: 5px;
                    border: $secondary-color 1px solid;
                }

                .btn {
                    margin-top: 12px;
                    color: $primary-color;
                    background: $secondary-color;
                    text-transform: uppercase;
                    border:white 1.5px solid;
                    width: 92%;
                    height: 50px;
                    font-size: 1.3em;
                    transition: ease 0.4s;
                    // box-shadow: 2px 2px 2px $primary-color;
                }
            }
        }
    }
}


